[submodule "i3blocks"]
	path = i3blocks
	url = https://github.com/vivien/i3blocks.git
[submodule "i3blocks-contrib"]
	path = i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule "i3blocks-gradient-temp"]
	path = i3blocks-gradient-temp
	url = https://github.com/hastinbe/i3blocks-gradient-temp
